node_modules
dist
.vscode
*.cpuprofile
src/.DS_Store
.env*
coverage
src/domain/.DS_Store
.DS_Store
accessToken.sh
public/token.json
.serverless
#amplify
amplify/\#current-cloud-backend
amplify/.config/local-*
amplify/logs
amplify/mock-data
amplify/backend/amplify-meta.json
amplify/backend/awscloudformation
amplify/backend/.temp
build/
dist/
node_modules/
aws-exports.js
awsconfiguration.json
amplifyconfiguration.json
amplifyconfiguration.dart
amplify-build-config.json
amplify-gradle-config.json
amplifytools.xcconfig
.secret-*
lambda.out
.aws/config
.aws/credentials
nohup.out
public/user.json
public/order.json
public/customer.json
public/product.json
public/wasm.json
public/aegis.log
public/inventory.json
public/catalog.log
yarn-error.log
aegis.pid
cert/certificate.pem
cert/privatekey.pem
cert/.prev
aegis.pid
public/.well-known/acme-challenge/*
install.log
public/hexanimation.gif
public/mockup.png
public/mockup1.png
public/mockup3.pnf
