
# Example .env file - cp to .env and update as needed

# Target environment: local, dev, test, prod
NODE_ENV=local

# system provisions cert for this domain
DOMAIN=aegis.module-federation.org

# Run in serverless mode (no web server)
SERVERLESS=false

# Create child processes, one per core, which share server
# socket and take turns (round-robin) handling requests
CLUSTER_ENABLED=false

# Token-based authorization (JSON Web Tokens)
# Secure protected routes. See key-set in aegis.config.
AUTH_ENABLED=false

# Use Secure Sockets Layer / TLS / HTTPS
SSL_ENABLED=false
SSL_PORT=443
PORT=80

# Default datasource for models that do not specify one
#DATASOURCE_ADAPTER=DataSourceMemory 
DATASOURCE_ADAPTER=DataSourceFile 
#DATASOURCE_ADAPTER=DataSourceMongoDb 
#DATASOURCE_ADAPTER=DataSourceIpfs
#DATASOURCE_ADAPTER=DataSourceEtherium

# Maximum number of instances to cache per model
CACHE_SIZE=2000 

# Enable cache events for transparent integration
DISTRIBUTED_CACHE_ENABLED=true

# URL root level path
API_ROOT=/microlib/api

# Shared secret for crypto
ENCRYPTION_PWD=b!gSecr3t

# Cloud serverless provider name
# PROVIDER_NAME=azure
# PROVIDER_NAME=google
PROVIDER_NAME=aws

# Get external IP
CHECKIPHOST=checkip.amazonaws.com

# Required by 3rd party client APIs
MONGODB_URL=mongodb://localhost:27017
KAFKA_GROUP_ID=microlib-host
# AWS_ACCESS_KEY_ID=xxxxxx
# AWS_SECRET_ACCESS_KEY=xxxxxx
# GITHUB_TOKEN=xxxxxx
# SQUARE_TOKEN=xxxxxx
# PAYPAL_TOKEN=xxxxxx
