
# Example .env file - cp to .env and update as needed

# Target environment: local, dev, test, prod
NODE_ENV=local

# is this instance an ægis webswitch?
SWITCH=false

# override multicast dns and explicitly set switch url 
# SWITCH_OVERRIDE=true
# SWITCH_HOST=8888-modulefederat-aegishost-njnlhwopdp4.ws-us65.gitpod.io
# SWITCH_PORT=443
# SWITCH_PROTO=wss

# system provisions cert for this domain
DOMAIN=localhost

# Run in serverless mode (no web server)
SERVERLESS=false

# Create child processes, one per core, which share server
# socket and take turns (round-robin) handling requests
CLUSTER_ENABLED=false

# Token-based authorization (JSON Web Tokens)
# Secure protected routes. See key-set in aegis.config.
AUTH_ENABLED=false

# Use Secure Sockets Layer / TLS / HTTPS
SSL_ENABLED=false
SSL_PORT=443
PORT=80

# URL root level path
API_ROOT=/aegis/api

# Shared secret for crypto
ENCRYPTION_PWD=b!gSecr3t

# Cloud serverless provider name
# PROVIDER_NAME=azure
# PROVIDER_NAME=google
PROVIDER_NAME=aws

# Get external IP
CHECKIPHOST=checkip.amazonaws.com

# Required by 3rd party client APIs
MONGODB_URL=mongodb://localhost:27017
KAFKA_GROUP_ID=aegis-host
# AWS_ACCESS_KEY_ID=xxxxxx
# AWS_SECRET_ACCESS_KEY=xxxxxx
# GITHUB_TOKEN=xxxxxx
# SQUARE_TOKEN=xxxxxx
# PAYPAL_TOKEN=xxxxxx
